n8n/workflow_riesgo_academico_completo.json
{
  "name": "Riesgo Académico - Flujo Completo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "riesgo-academico",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0ea8f9fe-c7d3-4706-b095-bc138a3f02a0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ],
      "webhookId": "197e4d9d-d336-48c2-a857-ce5379279952"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api_inteligente:8000/predict",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "6e28c80e-9594-46be-9d13-aeb820627db1",
      "name": "Predecir riesgo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nivel_riesgo }}",
                    "rightValue": "Alto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nivel_riesgo }}",
                    "rightValue": "Medio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nivel_riesgo }}",
                    "rightValue": "Bajo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bajo"
            }
          ]
        },
        "options": {}
      },
      "id": "7506723c-f5d3-4c8f-bf28-26fd7a85a231",
      "name": "Evaluar nivel de riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api_inteligente:8000/actions/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ prediction_id: $json.prediction_id, student_id: $json.student_id, email_tutor: $('Webhook').item.json.body.email_tutor || 'tutor@universidad.local', estado_predicho: $json.estado_predicho, nivel_riesgo: $json.nivel_riesgo, confianza: $json.confianza, accion: 'alerta_correo' }) }}",
        "options": {}
      },
      "id": "da2bc795-7da8-429d-8d14-73b1c80830c0",
      "name": "Enviar alerta local",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api_inteligente:8000/actions/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ prediction_id: $json.prediction_id, student_id: $json.student_id, email_tutor: $('Webhook').item.json.body.email_tutor || 'tutor@universidad.local', estado_predicho: $json.estado_predicho, nivel_riesgo: $json.nivel_riesgo, confianza: $json.confianza, accion: 'programar_seguimiento' }) }}",
        "options": {}
      },
      "id": "f07064cc-2353-47bf-8de0-472a42b67f59",
      "name": "Programar seguimiento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api_inteligente:8000/actions/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ prediction_id: $json.prediction_id, student_id: $json.student_id, email_tutor: $('Webhook').item.json.body.email_tutor || 'tutor@universidad.local', estado_predicho: $json.estado_predicho, nivel_riesgo: $json.nivel_riesgo, confianza: $json.confianza, accion: 'registrar_exito' }) }}",
        "options": {}
      },
      "id": "96accd58-b620-47d8-9a24-e546199bb599",
      "name": "Registrar riesgo bajo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "117a6777-aa4b-4bdb-9abf-ac82b9ce318a",
      "name": "Responder alto",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        300,
        -180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "707b7129-86a9-4cea-a06c-3bf17b414db6",
      "name": "Responder medio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "17e5d469-c2ad-4b55-8e36-8bab96b5172f",
      "name": "Responder bajo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        300,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Predecir riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Predecir riesgo": {
      "main": [
        [
          {
            "node": "Evaluar nivel de riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar nivel de riesgo": {
      "main": [
        [
          {
            "node": "Enviar alerta local",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Programar seguimiento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar riesgo bajo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta local": {
      "main": [
        [
          {
            "node": "Responder alto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programar seguimiento": {
      "main": [
        [
          {
            "node": "Responder medio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar riesgo bajo": {
      "main": [
        [
          {
            "node": "Responder bajo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7bc99ad7-03c3-4053-a61d-60b27341d4e8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}