n8n/workflow_base_riesgo_academico.json
{
  "name": "Riesgo Académico - Predicción y Automatización",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "riesgo-academico",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0ea8f9fe-c7d3-4706-b095-bc138a3f02a0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ],
      "webhookId": "197e4d9d-d336-48c2-a857-ce5379279952"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api_inteligente:8000/predict",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "6e28c80e-9594-46be-9d13-aeb820627db1",
      "name": "Predecir riesgo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nivel_riesgo }}",
                    "rightValue": "Alto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nivel_riesgo }}",
                    "rightValue": "Medio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nivel_riesgo }}",
                    "rightValue": "Bajo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bajo"
            }
          ]
        },
        "options": {}
      },
      "id": "7506723c-f5d3-4c8f-bf28-26fd7a85a231",
      "name": "Evaluar nivel de riesgo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Predecir riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Predecir riesgo": {
      "main": [
        [
          {
            "node": "Evaluar nivel de riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7bc99ad7-03c3-4053-a61d-60b27341d4e8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
